<!doctype html>
<title>Reading Comprehension Automatic Question Generation</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>AutoQ<br>
<img src = "{{url_for('static', filename='white-transparent_background.svg')}}" alt = "no logo" style="width:128px;height:128px;"></h1>
<div class = "tagline">
  <h2>Improving reading comprehension through automatic question generation</h2>
</div>
<div class=page>
  <p>You can select a passage from our data set and you will be given a reading comprehension question to go with it.</p>
    <p>You can select a specific topic from our data set:</p>
  <form name = "topic_select" action = "/article", method='post'>
  <select name = "topic_select">
      <option value=" "></option>
      {% for o in topic_list %}
        <option value="{{ o }}">{{ o }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Go to this article" />
  </form>
  <br>

<p>Or, you can let us choose a random topic for you:</p>
<form name = "random_select" action = "/random" />
  <input type="submit" value = "Go to a random article" method = "get"/>
</form>
</div>
