body           { font-family: 'proxima-nova', sans-serif;
background-color: #353741 }
h1, h2       { color: #4ba173 ;
text-align: center }
h1, h2, h3        { margin: 0; }
h1              { border-bottom: 2px solid #cccccc ; font-size: 4em }
h2              { font-size: 1.2em ; color: #ffffff }
h3              {color: #202729;}

p { color: #ffffff ; text-align: center ; }

div.resize {
  width: 100%;
  height: 100%;
  /* min-width: 500px; */
  min-height: 1000px;
}

div.intro {
  border-radius: 25px ;
  border: 5px solid #4ba173 ;
  padding: 10px ;
  margin: 3.12% ;
}

div.topic_select{ text-align: center }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  border-radius: 25px ;
  border: 5px solid #4ba173 ;
  margin: 5% ;
}

.columntwo {
  text-align: "left";
  float: right;
  width: 65%;
  padding: 10px;
  border-radius: 25px ;
  /* border: 5px solid #4ba173 ; */
  margin: 3.12% ;
}

.columnpic {
  float: left;
  width: 15%;
  padding: 10px;
  border-radius: 25px;
  margin: 3.12%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: center;
}

.row_cell {
  float: left;
  /* padding: 10px; */
  border-radius: 25px ;
  border: 5px solid #4ba173;
  margin: 3%;
  width: 94%;
}

div.centered { text-align: center;}

div.page{ text-align: center; }

div.article {
  width: 60%;
  margin: 5%;
  line-height: 1.5;
}

p.article_text {
  text-align: left;
  text-indent: 1.5em;
}

.short_article{
  align: "center";
  height: 500px;
  width: 60%;
  margin: 5%;
  line-height: 1.5;
  border: 2px  solid #424242;
  padding: 20px ;
  overflow: auto;
  background-color: #ffffff;
  display: inline-block;
}

p.black {
  color: #202729;
}

div.questions {
  text-align: left;
  color: #ffffff;
  margin: 5%;
}

p.question {text-align: left}

div.tables {
  margin: 5%;
  display: inline-block;
}

table.answer_table, tr, th {
  border: 2px solid #fff176;
  border-collapse: collapse;
  color: #ffffff;
  padding: 20px;
}

th.correct { color: #4ba173;}
th.incorrect { color: #ff5252;}
th.blank { color: #fff176;}

a:link {
  color: #4ba173;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #63d297;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ff5252;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

.resources{
  align: center;
  height: 370px;
  width: 60%;
  margin: 5%;
  line-height: 1.5;
  border: 10px  solid #424242;
  padding: 20px ;
  overflow: auto;
  background-color: #ffffff;
  display: inline-block;
}

p.about_q {
  text-align: left;
  font-weight: bold;
}

p.about_a {
  text-align: left;
  text-indent: 3em;
}

div.home_page {
  text-align: left;
  float: left;
}

div.topic_send {
  text-align: right;
  float: right;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
