body           { font-family: 'proxima-nova', sans-serif;
background-color: #353741 }
h1, h2       { color: #4ba173 ;
text-align: center }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #cccccc ; font-size: 4em }
h2              { font-size: 1.2em ; color: #ffffff }

p { color: #ffffff ; text-align: center ; }

div.intro {
  border-radius: 25px ;
  border: 5px solid #4ba173 ;
  padding: 10px ;
  margin: 3.12% ;
}

div.topic_select{ text-align: center }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  border-radius: 25px ;
  border: 5px solid #4ba173 ;
  margin: 3.12% ;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
div.centered { text-align: center;}
div.page{ text-align: center; }

div.article {
  width: 60%;
  margin: 5%;
  line-height: 1.5;
}

p.article_text {
  text-align: left;
  text-indent: 1.5em;
}

.short_article{
  align: "center";
  height: 500px;
  width: 60%;
  margin: 5%;
  line-height: 1.5;
  border: 2px  solid #424242;
  padding: 20px ;
  overflow: auto;
  background-color: #ffffff;
  display: inline-block;
}

p.black {
  color: #202729;
}

div.questions {
  text-align: left;
  color: #ffffff;
  margin: 5%;
}

p.question {text-align: left}

div.tables {
  margin: 5%;
  display: inline-block;
}

table.answer_table, tr, th {
  border: 2px solid #fff176;
  border-collapse: collapse;
  color: #ffffff;
  padding: 20px;
}

th.correct { color: #4ba173;}
th.incorrect { color: #ff5252;}
th.blank { color: #fff176;}
