<!doctype html>
<title>Article for Reading Comprehension Questions</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>{{ title }}</h1>
</div>
<div class = centered>
  <div class=short_article>
    {% for para in article %}
      <p class= "article_text black">{{ para }}</p>
      {% endfor %}
    </div>
  </div>
  <br>
  <h2>Questions</h2>
  <div class=questions>
  {% for q in numbering %}
    <p class=question>{{ questions[id_list[q]] }}</p>
    <form action = "/check_answers", method='post'>
    {% for vals in q_achoices[id_list[q]] %}
        <input type="radio" name="{{ radio_buttons[q] }}" value='{{ vals }}'> {{ vals.lower() }}<br>
    {% endfor %}
  {% endfor %}
  <br>
  <div class = centered>
  <input type="submit" value="Submit Answers">
    </div>
  </form>
  </div>
  <br>
  <div class = "home_page">
  <form name = "home_page" action = "/" />
    <input type="submit" value = "Back to home page" method = "get"/>
  </form>
  </div>
  <div class = "topic_send">
  <form name = "topic_select" action = "/topic_select" />
    <input type="submit" value = "Head to Topic Selection" method = "get"/>
  </form>
  </div>
